In [1]:
print (round(3.6))

4

In [2]:
print (round(3.5))

4

In [3]:
from math import *
floor(3.5)

3

In [ ]:
sqrt(36)

6.0

In [ ]:
key = input ('What is your first number? ')
num = input ("what is your lucky numer? ")
total = int(key) + float (num)
print (total)

In [1]:
key = input ('print is your first number? ')
num = input ("what is your lucky number? ")
total = str(key) * int (num)
print (total)

print is your first number? 25
what is your lucky number? 2
2525

In [ ]:
key = input ('print is your first number? ')
num = input ("what is your lucky number? ")
total = (key) + int (num)
print (total)

In [ ]:
print('hello world')

In [1]:
friends = ['kelvin', 'kaine', 'karen']
print(list(friends))

['kelvin', 'kaine', 'karen']

In [208]:
friends = ['kelvin', 'kaine', 'karen']
print(friends[-1])
#negative index always start from the right hand side.

karen

In [209]:
friends = ['kelvin', 'kaine', 'karen']
for char in friends:
    print(char)

kelvin
kaine
karen

In [2]:
python = int (9)
print (python)

9

In [1]:
myString = ['cars', 'house', 'kettle', 'balloon']
for kay in myString:
    print (kay)
print(myString.index('house'))
print(myString.sort())
print(myString.pop())

cars
house
kettle
balloon
1
None
kettle

In [42]:
myString = ['cars', 'house', 'kettle', "balloon"]
for kay in myString:
    print (kay[:1])

c
h
k
b

In [43]:
def theLaw(name, age):
    print('hello ' + name + ", you are", age, 'yrs old')
theLaw("Lawal", 25)

hello Lawal, you are 25 yrs old

In [32]:
a=1
b=a+1
c=a+b
while c < 10:
    print(c)
    c += 1

3
4
5
6
7
8
9

In [48]:

a = 0 #increments with each loop
c = 0

while (c<4):
    b = a+1
    c = a+b
    a += 1
    print(c)

1
3
5

In [55]:
a=1
b=a+1
c=a+b
while c < 1:
    a+=1
    print(c)
else:
    print:("l")

In [ ]:
a=0

while c==5:
    b = a+1
    c = a+b
    a=+1
    print (c)

In [51]:
a = 0
b= a+1
c=a+b
while c<1:
    b=a+1
    c+a+b
    a=+1
    print(c)

In [11]:
print('pop')

pop

In [45]:
class Person:
    def _init_ (self, name, age):
        self.name = name
        self.age = age
        p2 = Person("pop", 87)
        print (p2)
        print (p2.age)

In [21]:
import array as arr
nex = array [3, 6, 9]
for arr in nex:
    print ((nex)/3)

TypeError: 'module' object is not subscriptable

In [58]:
def say_hello(Name = "oluwaseyi"):
    return ('Hello '+ Name)
say_hello()

'Hello oluwaseyi'

In [62]:
#write a function to find out if the word 'kettle' is present in the string: I love to boil water using the hot mug
def water_boil(findOut):
    return "kettle" in findOut.lower()
water_boil('I love to boil water using the hot mug')

False

In [68]:
#write a function to find out if the word 'kettle' is present in the string: I love to boil water using the kettle mug
def water_boil(findOut):
    return "kettle" in findOut.lower()
water_boil('I love to boil water using the kettle mug')

True

In [69]:
#if word starts with a vowel, add 'ay' to end. If word does not start with a vowel, put first letter at the end, then add 'ay'. Example: 'kettle = 'ettlekay'
def senTen (words):
    first_letter = words[0]
    if first_letter == 'aeiou':
        return (words + 'ay')
    else:
        return (words[1:] + words[0] +'ay')
words = 'kettle'
senTen(words)

'ettlekay'

In [71]:
#if word starts with a vowel, add 'ay' to end. If word does not start with a vowel, put first letter at the end, then add 'ay'. Example: 'address' = 'addressay'
def senTen (words):
    first_letter = words[0]
    if first_letter == 'aeiou':
        addre = (words + 'ay')
    else:
        addre = (words[1:] + words[0] +'ay')
    return addre
senTen('address')

'ddressaay'

In [80]:
def func (Name = 'ada'):
    print ('Hello {}'.format('asa'))
func()
#I formatted 'asa' to replace 'ada' in the function called.

Hello asa

In [98]:
z = True
def myfunc(z):
    if z == True:
        return 'x'
    elif z == False:
        return 'y'
    else:
        return 'lol'
myfunc(z)

'x'

In [99]:
z = False
def myfunc(z):
    if z == True:
        return 'x'
    elif z == False:
        return 'y'
    else:
        return 'lol'
myfunc(z)

'y'

In [103]:
z = 'sas'
def myfunc(z):
    if z == True:
        return 'x'
    elif z == False:
        return 'y'
    else:
        return 'lol'
myfunc(z)

'lol'

In [109]:
def fun_cal(*args):
    return sum(args)
fun_cal(2,3,4)
#the * shows that i can always pass in as many numbers as i want. Also, 'args' can be any variable, so i can used any word i like to replace 'args'

9

In [128]:
#Define a function called func that takes in an arbitary number of arguements, and returns a list containing only those arguements that are even
listEven = []
def func(*args):
    for num in args:
        if num % 2 == 0:
            listEven.append(num)
    return listEven
func(2,4,5,6)

[2, 4, 6]

In [139]:
# Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, paces or punctuation. The output string can start with either uppercse or lowercase letter, so long as letters alternate throughout the string.
def myfunc(string):
    word = ''
    for num in range(len(string)):
        if (num)%2 == 0:
            word += string[num].upper()
        else:
            word += string[num].lower()
    return word
myfunc('develop')

'o'

In [148]:
#write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if both numbers are odd.
def given_num(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)
given_num(2,4)

2

In [146]:
max(1,2,3,4)

4

In [153]:
#Write a function that takes two different names and returns True if both names begin with the same letter.
def two_word(name1,name2):
    if name1[0].lower() == name2[0].lower():
        return True
    else:
        return False
two_word('greg', 'loria')

False

In [167]:
#Write a function that takes  two-word strings and returns True if both word begin with the same letter.
def twoWord(strinGin):
    strin = strinGin.split()
    if strin[0][0].lower() == strin[1][0].lower():
        return True
    else:
        return False
twoWord('lion Like')

True

In [176]:
#Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False.
def two_num(a,b):
    return a == 20 or b == 20 or a+b == 20
two_num(10,0)

False

In [181]:
#Write a function that capitalize the first and fourth letters of a name
def func (name):
    first_three = name[0:3]
    rest_letters = name[3:]
    return first_three.capitalize() + rest_letters.capitalize()
func('oluwaseyi')

'OluWaseyi'

In [186]:
#Given a sentence "I am home", return a sentence with the words reversed
def given (senGen):
    dammy = senGen.split()
    return dammy[2] + ' '+ dammy[1] + ' '+ dammy[0]
given('I am home')

'home am I'

In [207]:
#Given a sentence "Daniel is a smart boy", return a sentence with the words reversed
def list_reversed(given):
    senTen = given.split()
    reversed_word = senTen[::-1]
    return ' '.join(reversed_word)
list_reversed('Daniel is a smart boy')

'boy smart a is Daniel'

In [214]:
#Given an integer n, return True if n is within 10 of either 100 or 200
def num (n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)
num(201)

True